{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}

<table class="table table-striped mt-4">
    <thead>
        <th>Name</th>
        <th>Courtesy Name</th>
        <th>Aliases</th>
        <th>Birth Year</th>
        <th>Death Year</th>
        <th>Ancestral Home</th>
        <th>Roles</th>
        <th>Factions</th>
    </thead>
    <tbody>
        {% for character in characters %}
            <tr>                
                <td>
                    <div>
                        {% if current_user.is_authenticated and current_user.is_administrator %}
                            <a href="{{ url_for('main.edit_character', id=character.id) }}">{{ character.name }}</a>
                        {% else %}
                            {{ character.name }}
                        {% endif %}
                    </div>
                    <div>
                        {{ character.chinese_name }}
                    </div>
                </td>
                <td>
                    <div>
                        {{ character.courtesty_name }}
                    </div>
                    <div>
                        {{ character.chinese_courtesty_name }}
                    </div>
                </td>
                <td>{{ character.aliases }}</td>
                <td>{{ character.birth_date }}</td>
                <td>{{ character.death_date }}</td>
                <td>{{ character.ancestral_home }}</td>
                <td>
                    {% for role in character.roles %}
                        <div>
                            <span class="badge rounded-pill bg-primary">{{ role.name }}</span>
                        </div>
                    {% endfor %}
                </td>
                <td>
                    {% for faction in character.factions %}
                        <div>
                            {{ macros.badge_widget(faction) }}
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.characters') }}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
