{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}

<fieldset class="border p-3">
<form method="GET" class="mb-4">
    <div class="row mb-3">
        <div class="col">
            <label for="faction">Filter Faction:</label>
            {{ form.faction(class="form-control") }}
        </div>
        <div class="col">
            <label for="role">Filter Role:</label>
            {{ form.role(class="form-control") }}
        </div>
    </div>
    <div class="row mb-3">
        <div>
            {{ form.search_past_factions(class="form-check-input") }}
            <label for="search_past_factions"> Search past factions</label>

        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
    <a href="{{ url_for('main.characters') }}" class="btn btn-primary">Clear</a>
</form>
</fieldset>


<ul class="nav nav-tabs">
    {% for display_letter in alphabet %}
        <li class="nav-item">
            <a class="nav-link {% if display_letter == letter %}active{% endif %}" aria-current="page" href="{{ url_for('main.characters', page=page, letter=display_letter, role=form.role.data.id, faction=form.faction.data.id) }}">{{ display_letter }}</a>
        </li>
    {% endfor %}
</ul>

<table class="table table-striped mt-4">
    <thead>
        <th>Name</th>
        <th>Courtesy Name</th>
        <th>Aliases</th>
        <th>Birth</th>
        <th>Death</th>
        <th>Ancestral Home</th>
        <th>Roles</th>
        <th>Faction</th>
        <th>Past Factions</th>
    </thead>
    <tbody>
        {% for character in characters %}
            <tr>                
                <td>
                    <div>
                        {% if current_user.is_authenticated and current_user.is_administrator %}
                            <a href="{{ url_for('main.edit_character', id=character.id) }}">{{ character.name }}</a>
                        {% else %}
                            {{ character.name }}
                        {% endif %}
                    </div>
                    <div>
                        {{ character.chinese_name }}
                    </div>
                </td>
                <td>
                    <div>
                        {{ character.courtesty_name }}
                    </div>
                    <div>
                        {{ character.chinese_courtesty_name }}
                    </div>
                </td>
                <td>{{ character.aliases }}</td>
                <td>{{ character.birth_date }}</td>
                <td>{{ character.death_date }}</td>
                <td>{{ character.ancestral_home }}</td>
                <td>
                    {% for role in character.roles %}
                        <div>
                            <span class="badge rounded-pill bg-primary">{{ role.name }}</span>
                        </div>
                    {% endfor %}
                </td>
                <td>
                    {% if character.latest_faction %}
                        {{ macros.badge_widget(character.latest_faction) }}
                    {% endif %}
                </td>
                <td>
                    {% for faction in character.factions %}
                        <div>
                            {{ macros.badge_widget(faction) }}
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.characters', letter=letter, role=form.role.data.id, faction=form.faction.data.id) }}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
