{% extends "base.html" %}

{% block title %}rotk.net - Edit role: {{ role.name }}{% endblock %}

{% block page_header %}
<div class="page-header mb-3">
    <h1>Edit role: {{ role.name }}</h1>
</div>
{% endblock %}

{% block main_form %}
{{ super() }}

{% if role %}
    {% set owner = role %}
    {% set owner_type = 'role' %}
    {% include '_url_section.html' %}
{% endif %}

<div class="mt-3">
    <a href="{{ url_for('main.roles') }}" class="btn btn-link">&larr; Back to roles</a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/admin_confirm.js') }}"></script>
{% endblock %}
