{% extends "bootstrap_base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">rotk.net </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('main.characters') }}">Characters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.factions') }}">Factions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Map</a>
          </li>
        </ul>

        {% if current_user.is_authenticated %}
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ current_user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{ url_for('main.roles') }}">Roles</a></li>
                  <li><a class="dropdown-item" href="#">Users</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
              </ul>    
            </li>       
        </ul>
        {% endif %}

      </div>
    </div>
</nav>

{% endblock %}

{% block content %}
<div class="container mt-4">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% block page_content %}
    
    {% block page_header %}
    {% endblock %}

    {% block main_form %}
    {% if form is defined %}
    <div class="mb-4">
      {{ render_form(form) }}
    </div>
    {% endif %}
    {% endblock %}

    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}